@model ISOWebApps.Models.SuratMasuk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuratMasuk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TglSuratMasuk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglSuratMasuk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JamSuratMasuk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JamSuratMasuk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JumlahSurat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JumlahSurat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JenisSurat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisSurat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pengirim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pengirim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kepada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kepada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PenerimaSecurity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PenerimaSecurity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PenerimaKantor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PenerimaKantor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verifikasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verifikasi)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.SuratMasukId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
