@model IEnumerable<ISOWebApps.Models.TrukReport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoPolisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsstDriver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tujuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Berangkat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pulang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuatanBerangkat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtyMuatanBerangkat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MuatanPulang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtyMuatanPulang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoPolisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsstDriver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tujuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Berangkat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pulang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MuatanBerangkat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtyMuatanBerangkat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MuatanPulang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtyMuatanPulang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
